@import "tailwindcss";

.skill-container{
  height: 60px;
  overflow: hidden;

}
.scroll-up-down {
  display: flex;
  flex-direction: column;
  gap: 10px;
  animation: floatUpDown 4s ease-in-out infinite;
}
.image{
  border: 27.5px solid black;
}

.outer-border{
  height: 440px;
  width: 440px;
}

@keyframes floatUpDown {
 0%, 11%    { transform: translateY(0%);}
 22%, 33%   { transform: translateY(-30%);}
 44%, 55%   { transform: translateY(-65%);}
 66%, 100%  { transform: translateY(0%); }
}
