@import "tailwindcss";

.skill-container{
  overflow: hidden;
}
.scroll-up-down {
  display: flex;
  gap: 15px;
  flex-direction: column;
  animation: floatUpDown 4s ease-in-out infinite;
}


.mid-border{
  height: 440px;
  width: 440px;
}

/* .outer-border{
  height: 440px;
  width: 440px;
} */

@keyframes floatUpDown {
 0%, 11%    { transform: translateY(0%);}
 22%, 33%   { transform: translateY(-25%);}
 44%, 55%   { transform: translateY(-63%);}
 66%, 100%  { transform: translateY(0%); }
}

@keyframes floatUpDown-mobile{
  0%, 11%    { transform: translateY(0%);}
 22%, 33%   { transform: translateY(-29%);}
 44%, 55%   { transform: translateY(-66%);}
 66%, 100%  { transform: translateY(0%); }
}

@media screen and (max-width: 480px) {
  .scroll-up-down-mobile{
  display: flex;
  gap: 15px;
  flex-direction: column;
  animation: floatUpDown-mobile 4s ease-in-out infinite;
}

}
